/*---------- || Apply Globally ----------*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  color: black;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
  background: gray;
  transition: 1s;
}

body::-webkit-scrollbar-thumb:hover {
  background: black;
}

h1 {
  font-size: 199.6px;
  font-weight: 700;
}

h2 {
  font-size: 123.36px;
  font-weight: 600;
}

h3 {
  font-size: 76.34px;
  font-weight: 400;
  margin-top: 10rem;
}

h4 {
  font-size: 41.89px;
  font-weight: 700;
  margin-top: 5rem;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

a:hover {
  text-decoration: none;
}

section {
  position: relative;
  top: 25vh;
}

.section-layout {
  width: 100%;
  padding-bottom: 15rem;
}

.section-layout h2 {
  position: relative;
  text-align: right;
  z-index: 1;
}

.no-space {
  padding: 0;
  margin: 0;
}

/*---------- || Navigation ---------- */

#navigation {
  position: fixed;
  top: 5rem;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

#nav-btn {
  font-size: 2.5rem;
  transition: 0.2s ease-in-out;
  border: none;
  background: none;
  pointer-events: all;
  margin-bottom: 5px;
  position: relative;
  z-index: 3;
  background: inherit;
  mix-blend-mode: difference;
}

#nav-btn:hover {
  transform: scale(1.5);
}

#nav-menu {
  padding: 0;
  margin: 0 auto;
  background-color: black;
  text-align: center;
  height: 2rem;
  border-left: 1rem solid #0075f2;
  border-right: 1rem solid #0075f2;
  position: relative;
  z-index: 2;
}

#nav-menu li {
  display: inline;
  position: relative;
  z-index: 2;
}

.nav-menu-link {
  pointer-events: all;
  margin: 0 1rem;
  color: white;
  transition-delay: 0ms;
  text-decoration: none;
}

.nav-menu-link:hover {
  color: white;
}

.link-text {
  font-size: 18px;
  transition-delay: 0s;
  transition: 0.5s;
  text-decoration: none;
}

.link-text:hover {
  color: gray;
  text-decoration: none;
}

/*---------- || Home ----------*/

#home {
  text-align: center;
  height: 0;
}

.title {
  position: relative;
  text-align: center;
  z-index: 1;
  margin: 0;
  pointer-events: none;
}

.particles-canvas {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 0;
}

.allow-pointer {
  pointer-events: all;
  cursor: context-menu;
  transition: 0.25s;
}

.allow-pointer:hover {
  color: "red";
  transform: "scaleY(0.5)";
}

/*---------- || About ----------*/

#about h2 {
  padding: 0 10vw;
  pointer-events: none;
}

#about h3 {
  margin-top: 0;
}

.social-icon {
  font-size: 2.5rem;
  color: black;
  margin: 0;
  margin-right: 2rem;
  position: relative;
  top: -11px;
}

.social-icon i {
  transition: 0.2s ease-in-out;
}

.social-icon:hover i {
  transform: scale(1.3);
  color: #0075f2;
}

.about-image-distortion {
  position: relative;
  width: 80.3vw;
  height: 100vh;
  z-index: 0;
  top: -9rem;
}

/* #about-img {
  position: relative;
  width: 80.3%;
  z-index: 0;
  top: -9rem;
} */

/*---------- || Skills ----------*/

.p-icon {
  transition: 0.5s ease-out;
  /* transform: rotateY(-45deg); */
  position: relative;
  z-index: initial;
}

.p-container{
  perspective: 30rem;
  perspective-origin: center;
  margin-bottom: 5rem;
}

.p-container .p-icon{
  transform: rotateY(-35deg);
  background-color: white;
  border-radius: 5px;
  padding: 4%;
}

.p-icon:hover{
  transform: rotateY(0deg) scale(1.2);
  filter: invert(1);
  z-index: 2;
}

/*---------- || Projects ----------*/

#projects {
  padding-bottom: 0;
}

#projects h3,
span {
  display: inline-block;
}

.project-link {
  color: black;
  transition: 0.5s ease-in-out;
  height: 50px;
  position: relative;
  transition: all 0.25s cubic-bezier(1, 0, 0.58, 0.97);
  text-decoration: none;
  transition: 1.5s;
  animation: animate 0.75 1.1s ease 1 both;
}

.project-link:hover {
  color: black;
  opacity: 0.25;
}

.project-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #16151b;
  bottom: 20px;
  animation: out 1.5s cubic-bezier(0.62, 0, 0.31, 0.99) 1 both;
}

.project-link:hover:before {
  animation: in 1.5s cubic-bezier(0.62, 0, 0.31, 0.99) 1 both;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

/* .project-link:hover {
  border-bottom: solid 5px black;
  color: black;
} */

.project-link h3 {
  margin-top: 5rem;
  margin-bottom: 0;
}

.project-link span {
  margin-bottom: 0;
}

/* ---------- Featured & Bootcamp Projects ---------- */

.full-width {
  width: 100%;
}

.phone-right {
  position: relative;
  left: -49px;
}

.phone-left {
  position: relative;
  left: 49px;
}

.project-container {
  padding-bottom: 5rem;
}

/* ---------- Ocean and Dexter's Kitchen ---------- */

.oadk-img {
  width: 80%;
}

/*---------- || Contact ----------*/

.contact-form {
  margin: 5rem auto;
  width: 90%;
}

.form-group {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #ced4da;
}

.form-control:focus {
  border-color: #0075f2;
  box-shadow: none;
}