/*---------- || Apply Globally ----------*/

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Raleway";
}

h1{
  font-size: 199.6pt;
  font-weight: 600;
}

h2{
  font-size: 123.36pt;
  font-weight: 500;
}

h3{
  font-size: 76.34pt;
  font-weight: 400;
}

h4{
  font-size: 41.89pt;
  font-weight: 700;
}

h5{
  font-size: 18pt;
  font-weight: 500;
}

p{
  font-size: 18pt;
  font-weight: 400;
}

/*---------- || Home ----------*/

#home{
  text-align: center;
  position: relative;
}

.title{
  position: relative;
  top: 25vh;
  text-align: center;
  z-index: 1;
  font-size: 150px;
  margin: 0;
  pointer-events: none;
}

.particles-canvas{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

#navigation{
  position: absolute;
  top: 5rem;
  z-index: 1;
  width: 100%;
  text-align: center;
}

#nav-btn{
  font-size: 2.5rem;
  color: black;
  transition: 0.2s;
  border: none;
  background: none;
}

#nav-btn:hover{
  font-size: 3rem;
}

#nav-menu ul{
  background-color: black;
}

#nav-menu li{
  display: inline;
}